@import "~normalize.css";
@import "roboto.css";
@import "./components/slider.css";

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(47, 0, 255, 0.288);
}

h1 {
  text-align: center;
}

